@inherits LayoutComponentBase
@implements IDisposable

@inject NavigationManager NavigationManager
@inject BreadcrumbService BreadcrumbService
@inject IJSRuntime JS


@using AuctionPortal.Components.Themes
@using AuctionPortal.Services
@using MudBlazor

<MudThemeProvider Theme="@_theme" IsDarkMode="_isDarkMode" />
<MudPopoverProvider />
<MudDialogProvider />
<MudSnackbarProvider />

<MudLayout>

    <MudAppBar Color="Color.Primary" Elevation="1">
        <MudStack Row AlignItems="AlignItems.Center" Spacing="2">

            @if (!IsHomePage)
            {
                <!-- Back Button -->
                <MudIconButton Icon="@Icons.Material.Filled.ArrowBack" Color="Color.Inherit" OnClick="GoBack" Edge="Edge.Start" />
            }

            <MudLink Color="Color.Inherit" Typo="Typo.h5" Href="/" Class="ml-3">
                Auction Portal
            </MudLink>
        </MudStack>

        <MudSpacer />

        <!-- Dark mode toggle -->
        @* <MudIconButton Icon="@DarkLightModeButtonIcon" Color="Color.Inherit" OnClick="DarkModeToggle" /> *@

        <NavMenu />
    </MudAppBar>

    <MudMainContent>
        <MudBreadcrumbs class="mt-4 ms-10" Items="BreadcrumbService.Items">
            <ItemTemplate Context="item">
                <MudStack Spacing="0" AlignItems="AlignItems.Center" Row>
                    @if (item.Icon != null)
                    {
                        <MudIcon Class="me-2" Color="Color.Primary" Size="Size.Small" Icon="@item.Icon" />
                    }
                    <MudLink Typo="Typo.subtitle1" Href="@item.Href"><b>@item.Text</b></MudLink>
                </MudStack>
            </ItemTemplate>
        </MudBreadcrumbs>
        <MudContainer Class="pt-7 pa-4" MaxWidth="MaxWidth.Large">
            @Body
        </MudContainer>
    </MudMainContent>
</MudLayout>

<div id="blazor-error-ui" data-nosnippet>
    An unhandled error has occurred.
    <a href="." class="reload">Reload</a>
    <span class="dismiss">🗙</span>
</div>

@code {
    private bool _isDarkMode = false;
    private MudTheme? _theme;

    protected override void OnInitialized()
    {
        _theme = MudblazorThemes.AtosTheme();
        BreadcrumbService.OnChanged += StateHasChanged;
    }

    private void DarkModeToggle() => _isDarkMode = !_isDarkMode;

    public string DarkLightModeButtonIcon => _isDarkMode
        ? Icons.Material.Rounded.AutoMode
        : Icons.Material.Outlined.DarkMode;

    private async Task GoBack()
    {
        await JS.InvokeVoidAsync("history.back");
    }

    public void Dispose()
    {
        BreadcrumbService.OnChanged -= StateHasChanged;
    }

    private bool IsHomePage => NavigationManager.Uri.EndsWith("/");
}
